/.htaccess
/var/
app/etc/local.xml
/database
/media
/mage
/downloader/cache.cfg
/downloader/connect.cfg
/php.ini.sample
/cron.sh
/.htaccess.sample
/index.php.sample
/pkginfo
/nettbutikk
/errors/
/images/
/script/
/work/
/.idea/
/includes/src/
.DS_Store